[2019-04-22 17:11] simonhamp opened #1 "Rerun old imports"

[2019-04-22 17:12] simonhamp opened #2 "Improve import summary"

[2019-04-22 17:13] simonhamp opened #3 "Prewarn about possible validation issues"
Like when a field is required but not yet matched up to a column

[2019-04-22 17:20] simonhamp opened #4 "Fix link on review when nova is not located at `/nova/`"

[2019-04-22 17:26] simonhamp opened #5 "Handle relationships better"
For BelongsTo relationships it would be great to be able to make the relationship where the name matches an existing related resource, even to have the option to create records that don't exist.

At the moment, you have to know the ID of the related resource and update your CSV before you upload it.

[2019-04-22 17:27] simonhamp opened #6 "Queued imports"

[2019-04-27 19:34] dillingham commented on #5
In my project I made "resolver" classes for relationships

[code]

[2019-04-27 19:38] dillingham commented on #3
In my project I added validation for each row & it has been super valuable
Appending the errors to an error column allows very easy debugging
In my project, outputs an invalid.csv which makes it easy to re-import only error rows

[code]

[2019-04-27 19:40] dillingham commented on #3
I also had a duplicate check that does the same but duplicates.csv
[code]

[2019-04-30 21:24] bsormagec opened #7 "MediaLibrary Problem"
Not working with DmitryBubyakin/medialibrary can you check it ?

[2019-05-01 15:19] simonhamp commented on #7
When you say "not working", could you elaborate? I don't use that module so I'm not familiar with it.

[2019-05-15 17:09] stiknoltz opened #8 "Instance Exception when referenced Resource extends Laravel\Nova\Resource and not App\Nova\Resource"
First off thanks for creating this library. I've found it very useful.

I did notice the following which can occur in certain instances where you're including other Nova Resource generating Packages.

There is a type hint on line 48 of `src/Http/Controllers/ImportController.php` for an `App\Nova\Resource` class which fails if the Resource is from another vendor package which generally reference `L

[2019-05-15 17:23] stiknoltz commented on #8
Wasn't sure of the best way to provide this, but here's a diff of the proposed solution:

[code]

[2019-05-15 20:21] #8 closed

[2019-05-15 20:24] simonhamp commented on #8
@stiknoltz I've just released this fix. Could you update your version and let me know if it's working for you?

[2019-05-15 20:25] simonhamp commented on #7
@bsormagec I've just released an update that may have fixed this issue (per @stiknoltz comment on #8). Could you update the package and let me know if it fixes the issue you were seeing?

[2019-05-16 12:19] bsormagec commented on #7
Its returning this error already.

[2019-05-16 20:27] simonhamp commented on #7
Did you `composer update` and get version 0.1.1?

[2019-05-16 21:33] bsormagec commented on #7
yes sure
<img width="373" alt="Screenshot 2019-05-17 00 32 58" src="https://user-images.githubusercontent.com/965219/57888634-59697d80-783b-11e9-94e0-767e73363a03.png">

[2019-05-16 22:34] simonhamp commented on #7
Ok I’ll try to investigate more later. Sorry this hasn’t fixed it for you

[2019-05-16 23:20] bsormagec commented on #7
I am trying to found a way to fix it with collection reject method, if it works i can PR then. Thanks

[2019-05-30 12:58] softsnare opened #9 "I am not able to link resource with csv Import functionality"
![image](https://user-images.githubusercontent.com/12980119/58634169-3c877c80-8308-11e9-8002-7575a5d8e8a8.png)
Hello Simon,
Good evening!

Please find the attachment for the image of page I am receiving after adding the component to tools.

Please it will be a great help to me if You could help in proceeding further in the same.

Thank you

[2019-05-30 13:21] softsnare commented on #9
This is an exception I am receiving.

[2019-05-30 12:40:42] production.ERROR: md5_file(): Filename cannot be empty {"userId":"230fbff0-5439-11e9-ab34-69ce6f383d7d","email":"admin@test.com","exception":"[object] (ErrorException(code: 0): md5_file(): Filename cannot be empty at D:\\xampp\\htdocs\\laravel-crm\\vendor\\laravel\\framework\\src\\Illuminate\\Filesystem\\Filesystem.php:109)

[2019-05-30 13:53] softsnare commented on #9
$file->getRealPath()

this method is returning empty

[2019-06-07 11:10] patricktsg opened #10 "There were problems importing some of your data"
Getting this error: There were problems importing some of your data

Can't see any further details on my debug bar.

The CSV file is a direct dump from a table in the database.

[2019-06-18 08:26] richardjkeys commented on #5
@simonhamp This would be really useful!

[2019-06-25 17:28] simonhamp commented on #9
It looks like there's a bug here on Windows / XAMPP in the Filesystem library and seems like it's not specifically related to this package. Unfortunately I don't use either of those so it's going to be a little tricky for me to debug.

I'm going to close this issue, as I suspect you may face this issue elsewhere if you were to use the `Illuminate\Support\Facades\File::hash()` method, which would h

[2019-06-25 17:28] #9 closed

[2019-06-25 17:29] simonhamp commented on #10
@patricktsg Is there any chance that you can send a copy of the file you're trying to import?

[2019-06-26 09:34] patricktsg commented on #10
Ahhhh, think I have some broken CSV data - I didn't see it previously but cspecial characters and html tags were busting the columns.

Any suggestions for importing cols with a lot of HTML tags?

[2019-06-29 19:09] barnomics commented on #10
I'm having the same issue.  My csv is super simple so I'm surprised it would be having any issues.

Does this tool print out an error log somewhere?

[2019-07-01 10:11] danielrhodeswarp commented on #10
Having this issue on a super-duper simple CSV file which is surprising. I am sure that the same format file did indeed work previously as well... Would be good to get some insight on this issue...

[2019-07-01 10:27] danielrhodeswarp commented on #10
I couldn't immediately find anything in logs (Laravel, PHP or web server) so I had to use the new Laravel dump-server and dump() out the $this->importer->failures() and $this->importer->errors() in the vendor/.../ImportController.php

Surely some easier way? Like a "verbosity" config setting for the package?

[2019-07-01 11:47] danielrhodeswarp opened #11 "Question about handling of columns that have a database-level default value"
Not sure if this is how it is supposed / designed to work, but here's something unexpected that I noticed:

I am filling a simple, three column table with the import tool. Two of the fields are required at the database level, one field ("used") has a database-level default value.

My observation is that I always needed the "used" field to be explicitly in the CSV file for importing to work. This i

[2019-07-01 17:20] simonhamp commented on #10
Thanks for reporting issues folks. Please note that this package is still pre-release (v0.1 only) so there are bound to be issues.

If you can possibly share the data files that you're experiencing issues with @barnomics and @danielrhodeswarp then I can investigate the problems and potentially come up with a fix for everyone.

Also, if you're keen to dig and support the ongoing development of the

[2019-07-01 20:05] barnomics commented on #10
I actually dug into your code to log what was wrong and figured it out.  My database has a constraint which was not included in my CSV ... so MYSQL was complaining about that (but it was not apparent to me)

For example my structure looks like ...
name | value | contact_id (foreign key)

and my CSV looks like
[code]

Possible improvements:
1.  Better error reporting.
2.  Ability to merge data with

[2019-07-10 11:48] simonhamp commented on #10
Good sleuthing @barnomics. At the moment, this package will only bump into your Nova validation, so if your database has rules that are not encoded well at the application level then you're going to hit issues.

I agree that better error reporting is a must and that would definitely be necessary for v1.

Merging data is going to be trickier and require users to have a deeper understanding of their

[2019-07-10 11:49] simonhamp commented on #10
This is effectively part of/a duplicate of #2

[2019-07-11 13:51] danielrhodeswarp commented on #11
Something to do with the code and the package using Eloquent models as a primary resource (and not the actual SQL table structure)?

[2019-07-19 15:44] danielrhodeswarp commented on #10
It's sometimes maatwebsite/excel (especially the DefaultValueBinder) doing weird things with the *reading* of the CSV file. Which then obviously causes issues when trying to import into the Eloquent backend data storage.

[2019-07-19 15:49] danielrhodeswarp commented on #11
Thank you for this package Simon. I'm only reporting issues because I love it so much :D

[2019-08-06 15:52] webteamseo opened #12 "Option to update columns based on id"
Hi, great plugin, thanks for that.
Is it possible to add an option to update rows based on the ID?
or to import a csv in "Update Mode" (don't create new rows but only update if found)?
Thanks
Roy

[2019-08-06 20:38] tumainimosha opened #13 "Illegal offset type when Resource has Custom keys with array type"
Getting below error when Importing

[code]

I traced the issue down to this function in Importer.php

[code]

The Nova Resource I was trying to import has a MapField, which in $this->attributes evaluates as an array. When checking for using offset array thats when it throws exception.

A quick solution i see is to check if key is string before using it.

[code]

I could do a PR for this if this is

[2019-08-19 11:29] Dontorpedo opened #14 "Option to use database table fields instead of resource"
Hello,

Many of my resources have fields with are only visible in the database, but have to be filled..

a option for using fields from the coresponding table would be ideal for this..

thanks
D

[2019-08-19 11:32] Dontorpedo opened #15 "coma separated csv option"
Hi,

In Europe we use mostly Comaseparated csv files, not semicolon like in US.. a option or something to accept both would be nice..

[2019-09-03 13:01] pepijn-vanvlaanderen commented on #5
Also at the moment the whole import crashes (returns a 404 on the JSON preview link) when using a resource with any BelongsTo relationships.

[2019-09-14 14:49] timothysantos opened #16 "Import crashes on preview when using a resource with BelongsTo field"
This looks like because it is looking for ->resource() (@trait InteractsWithResources) but it is aborting because the value is null

[2019-09-18 08:14] acewebsa opened #17 "Preview Route returns 404"
Route::get('/preview/{file}', 'ImportController@preview');
is giving a 404 error.
If I do a dd just before the return line it is returned, so it is definitely finding the preview function without issue. Can't work out why this returns 404 though.
Any thoughts on why this might be?
Not sure if its related to #16 as I have a lot of resources with BelongsTo Fields in the project.

[2019-09-20 06:10] fpcimmino commented on #17
I have the same problem

[2019-09-20 06:13] acewebsa commented on #17
Yes you are right. How bizarre. I think I might look deeper for a fix.

[2019-09-20 06:15] fpcimmino commented on #17
Ok, if you find the solution, write it here. I will do the same if I find it first. Thanks.

[2019-09-20 06:18] acewebsa commented on #17
Cheers will do.

[2019-09-20 06:45] acewebsa commented on #17
It's certainly related to #16
When you take the BelongsTo out of $fields, it then succeeds.

[2019-09-20 06:47] acewebsa commented on #17
Added this to the import controller, and it worked.
Not real pretty though.
[code]

[2019-09-20 06:52] fpcimmino commented on #17
Thanks for your help.

[2019-10-24 13:44] #16 closed

[2019-10-25 10:41] simonhamp commented on #11
Thanks for using it in earnest @danielrhodeswarp and taking the time to report issues. I really appreciate it.

The import tool won't read the database default values to place into your fields as you import the data. If Nova has some understanding of those columns or your model includes any validation that may prevent data from saving without appropriate values, your import will most certainly fai

[2019-10-25 10:43] simonhamp commented on #12
@webteamseo This is great feature request and definitely something I'd find useful. I don't have time to build it myself just yet, but if anyone fancies giving this a go, I'd love to review a solid PR for this.

[2019-10-25 12:14] simonhamp commented on #13
Thanks for investigating and reporting @tumainimosha. I'm not familiar with this sort of MapField... are you using a specific Nova package to add this or did you roll your own? Could you share the implementation of that Field so that I can investigate further?

[2019-10-25 12:17] simonhamp commented on #14
I agree @Dontorpedo, that might be a nice feature in some circumstances.

I'm open to PRs if anyone fancies giving this a go.

[2019-10-25 12:19] simonhamp commented on #15
@Dontorpedo you can customise the importer classed used by publishing and overriding the config. Would that help?

[2019-11-28 20:36] FrodeMMeling commented on #15
That would help. I just hit same issue.. Maybe support for xlsx could also be added?

[2019-11-28 22:28] simonhamp commented on #15
@FrodeMMeling would you mind opening a new ticket for that?

[2020-01-19 19:17] kulcsarbalazs opened #20 "conflict with bolechen/nova-activitylog"
In the resource of the bolechen/nova-activitylog package has static $model = null.
This caused this error:

This correction works in ImportController.php:44
[code]

[2020-01-20 03:23] smartens80 commented on #20
I found the issue for us was that 'Nova::resources' included resources from other packages we were using that caused different issues (eg: Bolechen\NovaActivitylog\Resources\Activitylog, Vyuldashev\NovaPermission\Role, Vyuldashev\NovaPermission\Permission).

Quick dirty fix was to simply remove any resources that aren't prefixed with 'App\Nova' in our case

[code]

[2020-02-28 11:46] hasnatbabur opened #22 "Import Model creating/created/saved eloquent events are not firing!"

[2020-03-03 16:31] simonhamp commented on #20
This should be fixed by #23 which I’ll release soon.

[2020-03-03 16:31] #20 closed

[2020-03-27 02:24] #15 closed

[2020-03-27 02:25] #14 closed

[2020-03-27 02:26] #11 closed

[2020-03-27 02:28] #10 closed

[2020-04-15 14:52] vadimsg opened #24 "With Nova v3.4.0 it doesn't work"

[2020-06-04 04:25] jeremy-skaraudio opened #25 "FEATURE REQUEST: Update existing entries"
Hi not sure if it is possible and I tried to don't myself but is there a way to update existing DB entries when you import currently it only creates new entries.

and if not is there a way I can make a feature request I'm sure there are more people that would love to be able to update instead of creating new entires

[2020-06-04 05:44] simonhamp commented on #25
Thanks for using the plugin @jeremy-skaraudio. It doesn’t currently support updating of records, but it’s definitely something that I’d like it to have.

We’ve actually already received this as a feature request (#12), so I’m going to close this one in favour of keeping a single instance of feature requests around.

If you’d like to add further comments on this, please add them to #12.

Thanks 😊

[2020-06-04 05:44] #25 closed

[2020-06-04 05:49] simonhamp commented on #24
@vadimsg Could you provide a little more detail please?

[2020-06-15 12:45] manuweg commented on #24
Error message "Class name must be a valid object or a string"
when uploading a csv file with Nova 3.4.0

[2020-06-15 13:45] simonhamp commented on #24
Do you have a stack trace?

[2020-06-15 13:56] manuweg commented on #24
[2020-06-15 13:53:27] local.ERROR: Class name must be a valid object or a string {"exception":"[object] (Error(code: 0): Class name must be a valid object or a string at /Sites/test/vendor/simonhamp/laravel-nova-csv-import/src/Http/Controllers/ImportController.php:25)
[stacktrace]
#0 [internal function]: SimonHamp\\LaravelNovaCsvImport\\Http\\Controllers\\ImportController->__construct()
#1 /Sites/

[2020-06-15 22:23] simonhamp commented on #24
Thanks @manuweg, I’ll try to get onto investigating this soon.

Hopefully someone who’s using Nova 3 can PR a fix though as I don’t have a running Nova 3 setup anywhere to test this out.

[2020-08-17 14:08] simonhamp commented on #24
@manuweg Please can you share the value of resulting value from your setup of `config('laravel-nova-csv-import.importer')`?

[2020-09-09 15:03] cja-github opened #26 ""There were problems importing some of your data" - What problems?"
Hi. I tried to import a file and got error "There were problems importing some of your data". How can I see what the errors were?

[2020-09-09 18:23] simonhamp commented on #26
There can be loads of reasons for this but it’s most likely that some of your data doesn’t pass some of your field’s validation rules.

If you can provide a sample of the Nova Resource class that you tried to import to and a sampling of the data you tried to import, I can test locally and see what’s going wrong.

I will try to work on better error messages.

While you’re here, please consider [spo

[2020-09-14 09:58] cja-github commented on #26
Thanks for your reply.

I decided to import directly to the database.

On Wed, 9 Sep 2020 at 20:23, Simon Hamp <notifications@github.com> wrote:

--
Christopher Alexander
cja@cja.org.uk

[2020-10-27 10:26] theimaginaire commented on #26
Hi,

I'm encountering the same issue.

Nova Resource Class: https://gist.github.com/theimaginaire/be72fdb5c160f7ef7f896f59ecad937f

Import data (Download > As CSV): https://docs.google.com/spreadsheets/d/17tBxiCHcGay-Q1D3keMb1Mg20V_pFS7r_utybp9rQlI/edit?usp=sharing

Would be great to work out where we're going wrong so that we can reuse the tool for other areas of our software.

[2020-12-04 18:55] monaye commented on #13
@simonhamp I think it's about having a `array` casts on JSON field.
https://laravel.com/docs/8.x/eloquent-mutators#array-and-json-casting

[2021-02-13 15:46] simonhamp commented on #24
Closing due to inactivity.

[2021-02-13 15:46] #24 closed

[2021-02-13 15:50] simonhamp commented on #26
Hi @theimaginaire. If you're using this tool for commercial means, I'd really [appreciate your support](https://github.com/sponsors/simonhamp).

Sorry for the very late response. I will try to get some time to look into your issue if you've not been able to find a solution.

[2021-04-17 19:40] jason-rehatched commented on #26
Having the same issue. Field names and Excel column names are identical. The .CSV file was reduced to 16 rows and there are no empty rows/fields.

[2021-04-27 04:10] YourKey commented on #26
You can see the details of the error in the AJAX request in Chrome.
In my case, renaming the column from country_id to country and filling in the empty columns helped.

[2021-04-28 15:58] techguydev commented on #5
@simonhamp  thanks a lot for this great package.

I understand that working with relationships is bit more complex, so far I think that a workaround  would be to create a temporary table where to import the data and after it is persistent in the DB we can create a command to handle it as we wish.

The best way would be using events, although I've checked and when saving new data to this import tab

[2021-05-21 08:54] philipbaginski opened #29 "Import data from .csv file - Error."
Hi!

I'm getting this error: SimonHamp\LaravelNovaCsvImport\Http\Controllers\ImportController::SimonHamp\LaravelNovaCsvImport\Http\Controllers\{closure}() must be an instance of Laravel\Nova\Fields\Field, array given

Any idea how to fix it?

[2021-06-07 07:19] Nermosis commented on #29
I have the same issue

[2021-06-07 07:22] philipbaginski commented on #29
I tested this package with fresh Nova installation and works proper. How to find what else is interrupting this package?

[2021-06-07 07:42] Nermosis commented on #29
Should have installed the excel importer? or i can just run this without that? Cause im just doing the example thing but i cannot get the $request->user thing working

[2021-06-07 08:40] philipbaginski commented on #29
I have only this package.

[2021-06-07 08:42] Nermosis commented on #29
Are you using the samething write in the example inside your nova resource? like mine:
`class Taxonomia extends Resource
{
    /**
     * The model the resource corresponds to.
     *
     * @var string
     */
    public static $model = '\App\Models\Taxonomia';
    public static $canImportResource = true;`

[2021-06-07 09:50] philipbaginski commented on #29
No idea, I have to check.

[2021-08-19 12:50] ikramooe opened #30 "change fields names"
Hello ,
i have an excel file which i want to load to the database
is it possible to use different fields names  in the excel file  ( fields names  in the excel file different from the fields names in the databse )

[2021-11-10 22:22] bsormagec opened #31 "I got error on vapor uploading."
When using laravel vapor i got error on file validation. Is anyone has this issue ?

[2021-11-12 09:50] #31 closed

[2021-11-12 09:52] bsormagec opened #32 "Laravel octane problem"
When trying to use with octane, Settings appears 3 times everywhere. I am attaching pictures below. Do you have any idea about the situation @simonhamp ?
Thank you.
<img width="1475" alt="screenshot 6(18)" src="https://user-images.githubusercontent.com/965219/141447322-a02614a4-7fb3-422f-ba25-884bc16114ea.png">
<img width="1484" alt="screenshot 6(14)" src="https://user-images.githubusercontent.com

[2021-11-23 23:08] #32 closed

[2021-12-29 08:32] muhammadsaeedparacha commented on #29
This issue is because it doesn't process `Panel` in fields list of a resource

[2022-01-27 10:21] redsend opened #34 "Importer.php $this->attributes uninitialized and throw Exception on foreach"
This is the point where there is the error, I'm trying to debug to understand why it happens. As you can see, the foreach on the attributes fails, because $this->attributes is null

<img width="1561" alt="Schermata 2022-01-27 alle 11 17 29" src="https://user-images.githubusercontent.com/2745269/151339510-70e51671-1c09-47df-b19e-5e18473c0b2f.png">
.

[2022-02-03 02:57] dnl4 commented on #34
Same here. Can't figure why.

Laravel 8
Laravel nova 3.30.0
Fresh installation

[2022-02-10 12:09] falconsmilie commented on #34
\SimonHamp\LaravelNovaCsvImport\Importer line 135.

<img width="481" alt="Screen Shot 2022-02-10 at 13 06 54" src="https://user-images.githubusercontent.com/1234911/153405897-740524b9-e11b-4693-aba7-994fe24d6c5c.png">

[2022-02-10 13:54] falconsmilie commented on #34
From the [Controller](https://github.com/simonhamp/laravel-nova-csv-import/blob/1684d03afcad7f5da38adf10f752014f0c2430bf/src/Http/Controllers/UploadController.php#L25) where it calls [toCollection()](https://github.com/SpartnerNL/Laravel-Excel/blob/eb31f30d72c51c3fb11644b636945accbe50404f/src/Concerns/Importable.php#L75) on the [Importer](https://github.com/simonhamp/laravel-nova-csv-import/blob/m

[2022-02-10 15:29] falconsmilie commented on #34
@simonhamp [this is the change that broke it](https://github.com/simonhamp/laravel-nova-csv-import/commit/347675c18eba1e4a390f3baf338d9c8ae5894a9e).

I you revert that change the upload will work, but then you get some other issues. I have this weird behaviour where if I don't set `public static function canImportResource(Request $request)` on at least one Nova resource, it goes into an infinite l

[2022-02-10 16:05] falconsmilie commented on #34
I'm willing, but i'm not sure if I'm able ... the behaviour is not consistent :/

I just renabled the change i mentioned above and it worked ...

But in any case, with the `map()` or not, i still get the weird behaviour with a User model not showing when it is the only one which is enabled, thus my "choose resource" dropdown is empty.

I'll spend some more time looking at it.

[2022-02-11 09:31] falconsmilie commented on #34
I've only been working with CSV and needed to set some config values in the [maatwebsite/excel config](https://github.com/SpartnerNL/Laravel-Excel/blob/3.1/config/excel.php) so it would accept `;` separator. I can never get this tool to accept XLSX, i don't know why, upload always fails.

Here's what i've found in reference to working with CSV.

- **_upload_** will not work when the [Importer](htt

[2022-02-15 13:57] sergioaraos commented on #34
Any news about this issue?

Laravel 8.83
Laravel nova 3.31.0

[2022-02-17 14:50] leesouthwart opened #35 "422 Unprocessable Entity"
I'm just trying to import a very simple csv file but getting this error.

The file is simply

id,amount
1,200
2,300
3,400

Which is just being used as a test file.

Versions:

Laravel 8.6
Nova 3.29.0

Is there something obvious i'm missing?

edit: this is happening when I press the 'import' button after selecting a file, not after mapping my fields etc

[2022-03-11 15:33] #35 closed

[2022-03-13 12:54] #30 closed

[2022-03-13 12:56] simonhamp commented on #29
Sorry for just picking up on this thread. For those experiencing an issue, can anyone share their NovaResource configuration?

[2022-03-13 13:07] simonhamp commented on #34
Folks, simply sharing a screenshot of the code (I know the code 😂) or reporting which versions of the main components that you're running is not much help.

💡 If you would like me to assist in solving this issue, you need to make it easy for me to replicate the problem. For that you should share the following:

1. A sample of your data file (a couple of rows is enough)
2. The configuration of your

[2022-04-10 14:21] philipbaginski opened #36 "Nova 4."
Hi,

Is this package compatible with Laravel Nova 4?

[2022-04-10 21:21] simonhamp commented on #36
There's nothing that should prevent it being installed in Nova 4, but I don't know if it will work though 🤷

I haven't got a reason to purchase a Nova 4 license at the moment and try it out.

Please let me know how you get on 🙂

[2022-04-14 18:40] the-alichemist commented on #36
Nova 4 added abstract function menu() in Tool.php. Since LaravelNovaCsvImport.php extends Tool.php, it necessitates the function's implementation in LaravelNovaCsvImport.php. I will be creating pull request to fix it.

[2022-04-16 17:49] simonhamp commented on #36
@philipbaginski @the-alichemist I've been taking a look at this today... it looks like there's actually a lot more needed than I had hoped as Nova 4 is a fundamental change in the way various parts of Nova work, meaning tools need quite a bit of refactoring. I will open a PR shortly

[2022-04-16 17:50] philipbaginski commented on #36
🙏 Fingers crossed 🤞 for U.

[2022-04-18 12:58] simonhamp commented on #36
@philipbaginski @the-alichemist I've prep'd the `feature/nova-4` branch and #37. Please feel free to give this a try.

I've been testing quite a bit today and everything seems to work as expected.

I will likely release this as `v0.4.0` in the coming days if I don't hear from either of you.

[2022-04-18 14:12] philipbaginski commented on #36
Trying to install with: composer require simonhamp/laravel-nova-csv-import --with-all-dependencies

, but getting error:

C:\Users\Philip\nova>composer require simonhamp/laravel-nova-csv-import --with-all-dependencies
Info from https://repo.packagist.org: #StandWithUkraine
Using version ^0.3.0 for simonhamp/laravel-nova-csv-import
./composer.json has been updated
Running composer update simonhamp/

[2022-04-18 15:36] philipbaginski commented on #36
YUpdate in composer.json require section done, and after composer update I have got this:

C:\Users\Philip\nova>composer update
Loading composer repositories with package information
Info from https://repo.packagist.org: #StandWithUkraine
Updating dependencies
Nothing to modify in lock file
Writing lock file
Installing dependencies from lock file (including require-dev)
Package operations: 1 insta

[2022-04-18 15:56] simonhamp commented on #36
What's the value of your `minimum-stability` setting config keys in your `composer.json` (if there is one)?

[2022-04-18 16:02] philipbaginski commented on #36
"minimum-stability": "dev",

[2022-04-18 17:24] simonhamp commented on #36
I've just tried this on a brand new repo on my machine and it works fine - composer is happily able to fetch from GitHub and install the package on the `dev-feature/nova-4` branch.

[code]

@philipbaginski this sounds like a permissions issue.

Not sure how that's come about, but it shouldn't be anything to do with switching to using this `dev` branch.

I'm not familiar with Windows permissions an

[2022-04-18 17:32] philipbaginski commented on #36
I'm able to install other packages. I'm able to install main version of this package for Nova 3, which gives error in Nova 4. But is installed and app works.

[2022-04-18 17:51] simonhamp commented on #36
@philipbaginski The only thing in composer that throws that exception is around folder permissions. Not quite sure why it would be fine for some packages and not others though, unless permissions for that one specific folder have been garbled by something.

Might be worth completely deleting the `vendor` folder and just trying `composer update` again.

[2022-04-18 18:19] philipbaginski commented on #36
Magic! It works :-) Package is installed and ready to test it. Thank U :-)

[2022-04-18 18:37] philipbaginski commented on #36
Last question: What kind of formats package is able to import?

[2022-04-18 20:36] philipbaginski commented on #36
Testing with simple data and related data. Simply goes smooth. Getting issue with related data. Having field BelongsTo and in the .csv file column I have a name of related model going to be saved as FK in the table I'm importing data to. And it gives an error.

[2022-04-19 07:09] simonhamp commented on #36
@philipbaginski

At the moment, I've only tested with CSV, but the importer can handle many formats.

I'm not sure if what I have so far will do what's needed so I maybe need to do a bit more work on that.

If it doesn't work using different formats, please feel free to open a new issue for that feature request with the details of what you need.

This is already a separate issue (#5). Please add y

[2022-04-19 13:36] voicecode-bv commented on #36
@simonhamp Thanks for your work! Just needed this for my Nova 4 projects and got it working swiftly. 👍

[2022-04-19 16:57] simonhamp commented on #36
@voicecode-bv thats great to hear!

Given that 3 of us have now successfully installed and used the package, I think this is ready to release.

Here goes! 🚀

[2022-04-19 17:22] #1 closed

[2022-04-19 17:22] #2 closed

[2022-04-19 17:22] #26 closed

[2022-04-19 17:22] #34 closed

[2022-04-19 17:22] #36 closed

[2022-04-21 11:16] simonhamp commented on #29
@philipbaginski I know this is an old issue, but has this improved at all?

[2022-04-21 11:23] philipbaginski commented on #29
I will check today with Nova 3 version.

[2022-05-06 03:32] lovecoding-git opened #38 ""foreach() argument must be of type array|object, null given""
-Laravel Version 9
-Nova 3.29
-CSV 0.3.0

When I import csv file, I'm getting 422 error and error screen is this.

![image](https://user-images.githubusercontent.com/61916777/167062531-ad884873-04f0-4662-a8d2-7f7a677d7430.png)

[2022-05-06 03:33] lovecoding-git commented on #35
@leesouthwart  were you able to solve this issue? I'm seeing the same issue now.

[2022-05-12 22:45] simonhamp commented on #38
@lovecoding-git Are you able to share the file you're importing and the details of which version of this package you're using?

[2022-05-26 10:18] shubhamchugh opened #41 "issue with upload 1 million records"
[https://downloads.majestic.com/majestic_million.csv](url) unable to upload 1 million records using this package can anyone help me or guide me on how to import huge data with this package

[2022-05-29 15:18] ninjasitm commented on #38
Seeing the same issue with the same versions as @lovecoding-git . CSV is the following:

[code]

[2022-05-30 11:21] matthijs-neijenhuijs commented on #38
same problem here.

[2022-06-03 09:57] simonhamp commented on #41
@shubhamchugh in order to import that much data, it's very likely that you will need a couple of strategies employed.

Firstly, batching/chunking. This is in place in the package, but it depends which version you're using.

Secondly, even with batching available, you'll likely want to move the actual importing to an asynchronous process, i.e. to a job queue, so that it can be done on a completely

[2022-06-03 10:05] simonhamp commented on #38
Hey folks, so I think v0.3.0 has some issues.

I'm afraid I haven't used it much at that stage so I'm less familiar with the issues presenting there.

If you're not running Nova 4 yet, please use an older version (<0.3) of this package. Please note however, that I'm not actively supporting these older versions for free.

If you're 'stuck' on Nova <4 and need a fix or other work on this package tha

[2022-06-03 10:07] #38 closed

[2022-06-04 20:48] philipbaginski opened #42 "Problem with IDs"
Hi!

Probably I'm doing something wrong, but I don;t now what. Trying to import table with of course ID column, and because this IDs are FK in another table, I have to have them the same.

I have 14 models but ID 9 and 12 are not existing, so after import I see 14 models with IDs from 1 to 14.

What should I do to import table with IDs exactly the same as in the file?

[2022-07-07 13:30] alexWaterfront opened #44 "404 Error after upload"
After i click on choose file and i select a csv document
![first screen](https://user-images.githubusercontent.com/72613530/177785565-f1573c32-8424-4ab2-9583-62b314efc15e.png)

it just shows me a 404 error see image attached:

![image](https://user-images.githubusercontent.com/72613530/177785713-1cc8bb65-2f93-4b0f-a3e1-a12e345185ce.png)

[2022-07-20 04:29] HeadStudios commented on #44
I just had this issue... so going to check this - first time I'm trying to figure out how this whole thing works... I guess I have to update the files downloaded by my composer require thingie with this new commit let me check

[2022-07-21 08:56] jigsawsoul commented on #44
Same issue for me, it's just returning a 404

[2022-07-21 09:51] HeadStudios commented on #44
Just wanted to pipe in - the link included here: https://github.com/simonhamp/laravel-nova-csv-import/pull/45 - fixed the 404 issue for me. I just copy/pasted the raw file and replaced the src/Http/Controllers/ImportController.php file from here: https://github.com/simonhamp/laravel-nova-csv-import/pull/45/commits/8dd479689e6f96601fbeae4af993aecce06a1faf .... so if you do that it should fix it...

[2022-07-21 10:20] alexWaterfront commented on #44
Thanks for the input everyone hopefully by getting traction the author will have a look soon. I tried your solution @HeadStudios but unfortunately it didn't work for me I still get 404 error.

[2022-07-21 10:38] HeadStudios commented on #44
@alexWaterfront that's a shame... yes please keep me updated... I am one step ahead (404 page fixed.. imports not working) - but hoping to get resolution.. let's work together and keep each other informed - I'll be checking back here.

[2022-07-22 16:24] new-user-name opened #46 "Question: saving configuration"

[2022-07-23 22:38] souljacker commented on #44
My PR only prevents the 404, but the Resource causing it can't be configured when imported.

The error goes all the way to NovaRequest's rulesForCreation method, but I can't pinpoint what's the difference between the Resources that are being imported successfully and those which are not

[2022-07-24 04:24] HeadStudios commented on #44
Hm good point, I've only tried one Resource for import - I could technically try other Resources to see if the issue is with my resources.. like I could try and import some Users as that is like the default mode. I appreciate your PR though because copy/pasting that did help me get to the next step.. I don't know why this Debugbar or whatever it is won't show me the SQL query that is attempted to

[2022-07-24 15:36] #46 closed

[2022-07-25 00:04] archambaultalex commented on #44
Got the same problem. I am getting a 404 error when uploading the csv file.
For me, the error was caused by resources that had a belongsTo field.
In ImportController@extractValidationRule the function $resource::rulesForCreation is called which in turn calls the function getCreationRules at /nova/src/PerformsValidation@rulesForCreation on each field.
For a reason that I do not understand, if it's

[2022-07-25 00:45] souljacker commented on #44
Same

[2022-07-25 02:57] HeadStudios commented on #44
Hmmmm.... interesting... because the resource I'm importing into - there's a chance that has a BelongsTo field to... or more so a BelongsTo function or something.. I will test without them and see what happens... but I know the table doesn't have any remote fields... what's interseting is that there's no error being made... and I am sooo bad at troubleshooting - like all this stuff you guys are sa

[2022-07-25 13:03] souljacker commented on #44
If you used my solution, though, it will import, but the fields on the
Resource with the relationship won't show in the dropdown to map the fields
for import. That's because I simply short circuited the mapping function
when it throws any error.

On Sun, 24 Jul 2022 at 23:57, HeadStudios ***@***.***> wrote:

[2022-07-25 19:15] petervandijck commented on #44
Having the same issue, anyone working on this (aside from the above comments)?

[2022-08-08 07:31] HeadStudios commented on #44
I might put this over to Fiverr and see if someone is willing to work and fix it... if I find a solution I'll come back here and share - you guys better throw me some pennies if I do though lol.

[2022-08-12 12:50] morcov commented on #44
Problem in **NovaRequest** in method **resource**
[code]

Request can't get value **$this->route('resource')** because there is none. For resolve can use custom request with replacement this method. Example
[code]

I can't create a pull request right now, maybe later

[2022-08-12 13:04] HeadStudios commented on #44
Wait.. so I just... find and replace that code and (theoretically) it should work? I will try tomorrow!

[2022-08-13 02:39] pedami commented on #44
Hola tengo el mismo problema.
Esperamos que mañana lo resuelva @HeadStudios

Gracias.

[2022-08-13 07:32] HeadStudios commented on #44
Hello Spanish person. Had to translate what you said but yes excited about getting this fixed too.

[2022-08-13 14:43] HeadStudios commented on #44
This crashed for me when I replaced this function in Nova... or am I meant to make another function? I'm trying to comment the abort part out to see if this puts the CSV import through.. I have no idea what I'm doing lol.

[2022-08-13 14:46] HeadStudios commented on #44
This didn't help unfortunately :( any other input much appreciated - or if I'm doing something wrong. Chrs!

[2022-08-13 15:20] morcov commented on #44
My PR https://github.com/simonhamp/laravel-nova-csv-import/pull/47

[2022-08-13 15:47] HeadStudios commented on #44
Niiice! Just had a look - can't wait to try over on my side. Looking forward to it!

[2022-08-13 16:03] pedami commented on #44
Muchas gracias, esto funciona ;-)

[2022-08-13 20:56] HeadStudios commented on #44
Sorry :( - just tried and it has not fixed my issue - I do import and just like before it says success records imported but when I go to look nothing has been imported :(

[2022-08-13 21:07] pedami commented on #44
Hello, it worked for me the second time, because I wasn't passing all the mandatory fields, try to pass all the fields that are mandatory and it will work for you.

[2022-08-14 06:19] HeadStudios commented on #44
Hey, I have a contacts with only 3 fields (name, email, phone) - I pass all fields and it says success but no records imported :(

[2022-08-18 10:08] HeadStudios commented on #44
It says Imported but... not really - https://share.getcloudapp.com/kpuW9qp1 - btw that #47 pull request did help! But... there's just no import happening despite it saying that is so.. yeh.

[2022-08-29 14:02] gbrits opened #48 "Possible to isolate the import to a specific team?"
First - apologies for posting an issue, I couldn't find discussions or any other way to pose the question... secondly, awesome package - I would really love to be able to use it for my specific use case.

The platform that requires importing has tenancy - so multiple teams and each user has a current_team_id - the usual Jetstream implementation. All Resources have a `team_id` on them - is it possi

[2022-09-05 10:53] HeadStudios commented on #48
Dude I think this sub is dead - it's a great plugin and works for some models but not others - if the creator is there we need you!

[2022-09-05 10:54] HeadStudios commented on #48
Btw I'm looking through the source code now - I'm checking out your question - I'm sure you can check for the loggeg in user with a specific meta and then... you know... import based on that paramater.

[2022-09-28 22:21] hydra91 commented on #44
solved it for me
`php artisan vendor:publish --tag=csv-import`

[2022-09-28 23:48] HeadStudios commented on #44
Thank you! I am going to try... don't leave!

[2022-10-23 21:46] HeadStudios opened #49 "Anyone else getting capped at 100?"
I upload a 300 row CSV but only first 100 get imported - tried on both remote and local. Am I the only having this issue? Thanks!
P.S. Anything you can recommend to fix?

[2022-11-08 21:25] alexrafuse commented on #44
Hey folks any update here? I tried https://github.com/simonhamp/laravel-nova-csv-import/pull/47 and like @HeadStudios it says its imported but nothing is showing up in the db or logs. Would love to get this working instead of having to write my own custom thing.

[2022-11-08 22:40] HeadStudios commented on #44
Hey bro, I ended up getting this working.. I had to edit the vendor files or fork the repository and make some changes - don't even remember what I did but @alexrafuse if you want to meet me over at the Laravel Discord I'd be happy to share as much as I know as much as time would allow. Chrs!

[2022-11-22 14:14] matt7ds opened #50 "Custom - Single Value Fails"
When configuring an input to have a fixed 'custom' Single Value for a field, the value is lost and the following error is given in the console:

Uncaught TypeError: Cannot create property '<<FIELDNAME>>' on string ''

(where <<FIELDNAME>> is the name of the field on the resource you are importing)

This can be fixed by editing line 228 on `resources/js/pages/Configure.js `

`this.values = "";`

to

[2022-11-22 16:48] simonhamp commented on #50
Could you create a PR?

[2022-11-22 18:30] matt7ds commented on #50
I have - I actually put a small other fix in there on the Review screen (incorrect reference to map instead of mappings). I explained in the PR I hope

[2022-11-25 19:00] hydra91 commented on #49
capped at 100 too and it started again from row 400 !!

[2022-11-30 20:53] connexify opened #52 "Nothing changed after installing this package"
Followed all the steps to instal, but nothing change in Resources pages. Did I miss something??

Thanks